<!DOCTYPE html>
<head>
    <title><%= indexTitle %></title>
    <link rel="stylesheet" href="/styles.css">

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>

</head>
<html>

<body>
      <!-- include header here -->
      <%- include('./partials/header.ejs') %>
      <h3>Total Users -</h3>
      <table>
        <tr>
            <th>Fullname</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
     <%
         users.forEach(user => { %>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <tr>
                    <td><%= user.fullname %></td>
                    <td><%= user.address %></td>
                    <td><a class="delete" data-id="<%= user._id %>">Delete</a></td>
                  </tr>
            </div>
         <%}) %>
     %>   
     </table>

     <script>
         const deleteLink = document.querySelector('a.delete')
         const endPoint = `/users/${deleteLink.dataset.id}`

         deleteLink.addEventListener('click', (event) => { 
             fetch(endPoint, {
                 method : 'DELETE'
             })
             .then((res) => res.json())
             .then(data => window.location.href = data.redirect)
             .catch(err => console.log("error occured " + err))
         })
     </script>
</body>
</html>
